body {
  padding: 0;
  text-align: center;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  visibility: hidden;
  align-content: center;
  padding: 20px 0px;
  /* overflow: hidden; */
  position: relative;
  background-size: cover;
  background-color: green;
}

#sheep-pen {
  width: 200px;
  height: 200px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: maroon;
}

.sheep {
/* transition: top 1s linear, left 1s linear; */
}

.player,
.sheep {
  position: absolute;
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
